:root {
    --primary-color: #2e2f42;
    --accent-color: #4d5ae5;
    --highlight-color: #404bbf;
    --text-color: #434455;
    --light-bg: #f4f4fd;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: #ffffff;
    font-size: 16px;
}

/* #region Скидання */
a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;

}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}

/* #endregion */

.header-contact {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* #region Logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: var(--accent-color);
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-highlight {
    color: var(--primary-color);

}


.logo span {
    color: #2e2f42;
}

/* #endregion */

/* #region Link */

.nav {
    display: flex;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    color: var(--highlight-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--highlight-color);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
    opacity: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list,
nav ul {
    list-style: none;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover {
    color: var(--highlight-color);
}

/* #endregion */

/* #region hero */

.hero {
    background-color: #2e2f42;
    color: #ffffff;
}

.hero-section {
    place-items: center;
    background-color: var(--primary-color);
    text-align: center;
    padding: 188px 0;

}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 48px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--button-bg-color, #4d5ae5);
    display: block;
    margin: 20px auto 0;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
}


.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* #endregion */

/* #region service */

.services-section {
    padding: 120px 0;



}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.services-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.services-list {
    display: flex;
    gap: 24px;
    padding: 120px 0;
}


.service-icon-antenna {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.service-icon-clock {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.service-icon-diagram {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.service-icon-astronaut {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.services_item {
    flex-basis: calc((100% - 72px) / 4);

}


.order_service {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #434455;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 12px 24px;
}


.order_service:hover,
.order_service:focus {
    background-color: #404bbf;
}

.service_description {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
}


.service_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}


/* #endregion */

/* #region team  */
.team {

    background-color: #F4F4FD;
    padding: 120px 0;
}


.team_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-color);
    margin-bottom: 72px;
}

.team_list {
    display: flex;
    gap: 24px;
}

.team_member_name,
.team_member_role {
    color: #2e2f42;
}

.team_member {
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);


}

.team_member_info {
    padding: 32px 0;

}

.team_member img {
    display: block;
}

.team_member_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team_member_socials {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team_member_socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team_member_socials-icon {
    fill: #f4f4fd;
}

.team_member_socials-link:hover {
    background-color: #116fc769;
}

.team_member_role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}



/* #endregion */

/* #region portfolio */
.portfolio__project-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio {
    background-color: #ffffff;
    padding: 120px 0 120px 0;
}

.portfolio__title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio__project-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio__project {
    flex-basis: calc((100% - 48px) / 3);

}

.portfolio__project img {
    display: block;
}

.project-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


/* #endregion */

/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer_info {
    margin-right: 120px;
}

.footer-logo {
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
}


.footer-logo-text {
    color: #f4f4fd;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

/* #endregion */